<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Filters</title>
    </head>
    <body>
        <span>Hello, {{ name | lc }}!</span>
        <span>Goodbye, {{ name | uc }}!</span>
    </body>
</html>
