<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Custom Nunjucks instance (config.env)</title>
    </head>
    <body>
        <span>Hello, {{ name | myFilter }}!</span>
    </body>
</html>
