<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Asset type determined by filename</title>
    </head>
    <body>
        Hello, {{ name }}!
        <script src="./index.js.njk"></script>
    </body>
</html>
