<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>.nunjucksrc config file</title>
    </head>
    <body>
        <span>Hello, {{ name }}!</span>
        {% include "fragment.html.njk" %}
    </body>
</html>
