<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>No recognized extension - asset type falls back to HTML</title>
    </head>
    <body>
        Hello, {{ name }}!
    </body>
</html>
