<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Set the type dynamically with the assetType option</title>
    </head>
    <body>
        <span>Hello, {{ name }}!</span>
    </body>
</html>
